# Global
.*.swp
.DS_Store

# PHPStorm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Application
data/
etc/ssl/

# Netbeans
nbproject/
/nbproject/
/nbproject/private/
/nbproject/private/private.properties